<!DOCTYPE html>

<html>

<head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>API Project: Timestamp Microservice</h1>
    <div>
        <h2>User Stories</h2>
        <!--Tarefa 01-->
        <p>01 - The API endpoint is GET [ project_url ]/api/timestamp/:date_string?</p>
        <!--Tarefa 02-->
        <p>02 - A data string is valid if can be sucessfully parsed by new Date(date_string).</p>
        <p>NOTE: that the unix timestamp needs to be an integer (not a string) specifying milliseconds.</p>
        <p>In our test we will use date strings compliant with ISO-8601 (e.g. "2016-11-20") because this will ensure an UTC timestamp.</p>
        <!--Tarefa 03-->
        <p>If the date string is empty if should be equivalent to trigger new Date(), i.e. the service uses the current timestamp.</p>
        <!--Tarefa 04-->
        <p>If the date string is valid the API returns a JSON having the structure</p>
        <p>
            {"unix" :
            <date.getTime()>,"utc":
                <date.toUTCString()>}
        </p>
        <p>e.g. {"unix" : 147963089000 , "utc" : "Sun, 20 Nov 2016 17:31:29 GMT"}
        </p>
        <!--Tarefa 05-->
        <p>If the date is invalid the API returns a JSON having the structure</p>
        <p>{"error" : "Invalid Date"}.</p>
    </div>
    <hr />
    <div class="container">
        <h3>Example Usage:</h3>
        <ul>
            <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
            <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
            <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
    </div>
    <div class="footer">
        <p>
            By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
        </p>
    </div>
</body>

</html>